* {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI";
  color: black solid;

}
.main {
  width: auto;
  background-image: url(background2.jpeng.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  
}
.logo {
  color: orangered;
  font-family: Arial;
  padding-left: 20%;
  float: right;
  padding-top: 10px;
  font-size: 35px;
  cursor: pointer;
}

.menu {
  width: 100%;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-items: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 45px;
  margin-top: 27px;
  font-size: 30px;
}
ul li a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: black;
}

.content h1:hover {
  color: black;
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 0%;
  padding: 0 20px;
}
.section1 {
  
   margin: 0%;
  width: 800px;
  font-size: 24px;
  float: left;
 padding: 20px;
  margin-top: 0px;
}

  p {
  text-align: center; /* Center the text inside the paragraph */
  margin: 0%;
  padding-left: 0%;
  padding-bottom: 8%;
  padding-block: 6%;
  color: white;
  width: 90%;
}
.section2{
    position: left;
}
