*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI';
    color: black solid;
    
}
.banner{
     width:100%;
     height: 100vh;
     background-image:url(background.jpeg.jfif);
     
     background-position: center;
     background-attachment: fixed;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 150px;
    cursor: pointer;
    color: rgb(7, 6, 6);
}
.navbar ul li a{
    list-style: none;
    display: inline-block;
    margin: 15 20px;
    position: relative;
    color: black;
}
.navbar ul li{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    justify-content: flex-end;
}
.navbar ul li::after{content: '20px';
    height: 0px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0%;}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgba(0, 17, 255, 0.76);
}
.content{
     font-size: 70px;
     margin-top: 80px;
}
.content p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}





